<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>註冊頁面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 加載 Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* 自定義樣式 */
        /* 這裡可以添加自定義的 CSS 樣式 */
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h2>註冊</h2>

        <!-- 错误消息 -->
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">用戶名：</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="password">密碼：</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <!-- 添加用户组选择下拉菜单 -->
            <div class="form-group">
                <label for="group">选择用户组：</label>
                <select class="form-control" id="group" name="group">
                    {% for group in groups %}
                        <option value="{{ group.id }}">{{ group.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
    </div>

    <!-- 加載 Bootstrap 的 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
